<div class="topping-list">
  <h2>{{title}}</h2>
  <button mat-raised-button color="primary" matTooltip="Insert new topping" [matTooltipPosition]="'above'" [routerLink]="['/topping/new']">
    <mat-icon>add</mat-icon>Add
  </button>
  &nbsp;
  <button mat-raised-button color="warn" matTooltip="Delete Toppings" [matTooltipPosition]="'above'" (click)="deleteTopping()">
    <mat-icon>delete</mat-icon>Delete
  </button>
  <ngx-datatable class="material"
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="50"
    [footerHeight]="50"
    [limit]="10"
    [rowHeight]="'auto'"
    [selected]="selected"
    [selectionType]="'checkbox'"
    (select)='onSelect($event)'>
    <ngx-datatable-column
      [width]="'auto'"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true">
    </ngx-datatable-column>
    <ngx-datatable-column name="Id" prop="id" width="350"></ngx-datatable-column>
    <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="Price" prop="price"></ngx-datatable-column>
    <ngx-datatable-column name="Description" prop="description"></ngx-datatable-column>
  </ngx-datatable>
</div>