.pizza-list {
  margin: 20px;
}

.pizza-list button {
  margin-bottom: 20px;
}

.topping-panel {
  margin-top: 30px;
}

.subheader-topping-view {
  display: inline-block;
}

.text-topping-price {
  font-size: 30px;
}
.text-topping-name {
  text-transform: uppercase;
  font-weight: bolder;
}