<!-- <mat-toolbar color="primary" class="toolbar-footer">
  <mat-toolbar-row>
    <span class="toolbar-spacer"></span>
    <small>{{ 'APPLICATION.TITLE' | translate:user }}</small>
    <button mat-icon-button><mat-icon>copyright</mat-icon></button>
    <small>{{getYear()}}</small>
  </mat-toolbar-row>
</mat-toolbar> -->

<div class="toolbar-footer">
  <span class="toolbar-spacer"></span>
  <small>{{ 'APPLICATION.TITLE' | translate:user }}</small>
  <button mat-icon-button><mat-icon>copyright</mat-icon></button>
  <small>{{getYear()}}</small>
</div>